#banner {
    height: 250px;
    background-image: url(./../../public/images/photos/city-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.my-banner-title {
    color: white;
}