#most-visited-container {
    height: 600px;
    border: 2px solid black;
    font-size: 1.2vmax;
}

.my-city-container-ranked {
    height:  13%;

    p {
        color: white;
    }
}

.hong-kong-photo {
    background-image: url(../../public/images/photos/Hong-Kong.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bangkok-photo {
    background-image: url(../../public/images/photos/Bangkok.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    p {
        color: black;
    }
}

.london-photo {
    background-image: url(../../public/images/photos/London.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.singapore-photo {
    background-image: url(../../public/images/photos/Singapore.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.macau-photo {
    background-image: url(../../public/images/photos/Macau.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.paris-photo {
    background-image: url(../../public/images/photos/Paris.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: 50% 100%;
}

.my-city-container {
    height:  47%;
    border: 2px solid black;
}

.my-city-photo {
    height:  40%;
    background-color: gray;
}

.my-city-description-text {
    font-size: 1.2vmax;
}

.my-city-info-button {
    height: 15%;
    width: 30%;
    border-radius: 5vw;
    font-size: 1.5vmax;
}