.my-restaurants-section {
    height: 250px;
    background-color: gray;
}

.my-restaurants-container {
    height: 70%;
    width: 100%;
}

.my-restaurant-container {
    height: 100%;
}

.my-restaurants-title {
    margin-top: 1vmax;
}

.my-restaurant-image {
    height: 100px;
    background-color: red;
    width: 100px;
    border-radius: 50%;
}

.my-restaurant-description {
    width: 70%;
    font-size: 1.3vmax;
}