.my-restaurants-section {
    height: 250px;
    background-image: url(../../public/images/photos/restaurant-background-2.jpg);
    background-size: cover;
    background-position: center;
}

.my-restaurants-container {
    height: 70%;
    width: 100%;
}

.my-restaurant-container {
    height: 100%;
}

.my-restaurants-title {
    margin-top: 1vmax;
    color: white;
}

.my-restaurant-image {
    height: 10vw;
    background-color: red;
    width: 10vw;
    border-radius: 50%;
}

.my-central {
    background-image: url(./../../public/images/photos/1.Central-Lima.jpg);
    background-size: contain;
}

.my-disfrutar {
    background-image: url(./../../public/images/photos/2.Disfrutar-Barcelona.jpg);
    background-size: contain;
}

.my-diverxo {
    background-image: url(./../../public/images/photos/3.Diverxo-Madrid.jpg);
    background-size: contain;
}

.my-asador-etxebarri {
    background-image: url(./../../public/images/photos/4.Asador-Etxebarri-Atxondo.jpg);
    background-size: contain;
}

.my-restaurant-description {
    width: 70%;
    font-size: 1.3vmax;
    color: white;
}